.gameSection{
    margin: 0;
    padding: 0;

    &-title{
        margin: 75px 0px;
        text-align: center;
    }
    &-description{
        margin: 75px 0px;
        text-align: center;
    }

    &-game{
        
    }
}